.TicketItem{
  width: 340px;
  position: absolute;
}
.Ticket{
  width: 340px;
  height: 600px;
  background-image: url("/assets/ticket_fall_2022.svg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 40px 124px rgba(123, 154, 239, 0.25));
}
.CtaButton{
  position: absolute;
  padding: 13px;
  background: linear-gradient(108.48deg, #9A6CDA 0%, #7C35DE 100%);
  box-shadow: 0px 14.0977px 61.09px rgba(92, 46, 232, 0.16);
  border-radius: 8px;
  width: 82%;
  margin: 9%;
  top: 440px;
  text-align: center;
  cursor: pointer;
}
.Text{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

@media only screen and (max-width: 1100px) {
  .TicketItem{
    width: 100%;
    position: absolute;
  }
  .Ticket{
    width: 525px;
    height: 1000px;
  }
  .CtaButton{
    top: 730px;
    padding: 20px;
  }
  .Text{
    font-size: 20px;
  }
}
@media only screen and (max-width: 850px) {
  .Ticket{
    width: 100%;
    height: 155vw;
  }
  .CtaButton{
    top: 122vw;
    padding: 20px;
  }
}