.TicketItem{
  width: 450px;
  position: sticky;
  top: -40px;
}
.Ticket{
  width: 480px;
  height: 680px;
  background-image: url("/assets/Makeathon_Spring_2024.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 40px 124px rgba(123, 154, 239, 0.25));
  cursor: pointer;
  border-radius: 25px;
}
 .CtaButton{
  position: absolute;
  padding: 13px;
  background: linear-gradient(108.48deg, #9A6CDA 0%, #7C35DE 100%);
  box-shadow: 0px 14.0977px 61.09px rgba(92, 46, 232, 0.16);
  border-radius: 8px;
  width: 66.7%;
  height: 8%;
  margin: 9%;
  top: 514px;
  left: 19px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.Text{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 2px;
}

@media only screen and (max-width: 1100px) {
  .TicketItem{
    width: 100%;
    position: absolute;
  }
  .Ticket{
    width: 525px;
    height: 1000px;
  }
  .CtaButton{
    background:rgba(0, 0, 0,0);
    top: calc(0vw + 648px);
    width: 72.1%;
    height: 6.75%;
    left: 26px;
  }
  .Text{
    font-size: 20px;
    color:rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 850px) {
  .Ticket{
    width: 100%;
    height: 155vw;
  }
  .CtaButton{
    border: 0px solid rgba(0, 0, 0, 0);
    top: calc(110.8vw - 0px);
    left: 13px;
    width: 77%;
    height: 8%;
    padding: 20px;
  }
  .Text{
    font-size: 3.8vw;
    font-weight: 0px;
    color:rgba(0, 0, 0, 0);
  }
} 