.ButtonItem{
  padding: 13px 24px;
  text-align: center;
  border: 2px solid #A9A7AF;
  box-sizing: border-box;
  border-radius: 8px;
}
.Text{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #C0BCCB;
}
.ButtonItemDark{
  padding: 13px 24px;
  text-align: center;
  border: 2px solid #38159D;
  box-sizing: border-box;
  border-radius: 8px;
}
.TextDark{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #38159D;
}