.VideoItem{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 120px 0px;
}
.Grid{
    width: 1200px;
    height: calc(1200px / 16 * 9);
    position: relative;
}

@media only screen and (max-width: 1300px) {
  .Grid{
    width: 1000px;
    height: calc(1000px / 16 * 9);
  }
}
@media only screen and (max-width: 1100px) {
  .Grid{
    width: 100%;
    height: calc(100vw / 16 * 9);
  }
  .VideoItem{
    padding: 0;
  }
}