html,
body {
  background-color: #100D21;;
  padding: 0;
  margin: 0;
  font-family:  Roboto, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-slide {
    visibility: hidden;
}
.slick-slide.slick-active {
    visibility: visible;
}